body{
    background-color:  #0cd4d2;
    
}
.card{
    padding-top:10px;
    height:100%;
}

.product{
    height:100px;
    width: 100%;
}

.cartcol{
    height:100%;
}

.cartcol .row{
    height:100%;
}

.product img{
    height:80px;
    width:80px;
    
}

.product-image{
    margin-left:20px !important;
}
.product-title{
    font-size:20px
}
.remove{
    border:2px solid  #fc4a1a;
    padding:4px;
    border-radius:4px;
    margin-top:4px;
    margin-right:4px;
    color: #fc4a1a;

}