body{
    background:rgba(74, 189, 172,1) !important; 
    font-family:'Arial'sans-serif;
    font-size:62.5%;
  }
  h1{
    font-weight:500;
  }
  img{
    max-width:100%;
  }
  #wrap{
    width:80%;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:30px;
  }
  #product_layout_1{
    margin-top:30px;
  }
  #product_layout_1 .top{
    display:block;
    width:100%;
    margin-bottom:30px;
  }
  #product_layout_1 .bottom{
    display:block;
    width:100%;
    padding-top:30px;
    clear:both;
  }
  #product_layout_1 .product_images{
    width:30%;
    max-width:320px;
    float:left;
  }
  #product_layout_1 .product_info{
    width:66%;
    float:left;
    margin-left:4%;
  }
  #product_layout_1 .product_images .product_image_1{
     width:100%;
     border:2px solid lightgray;
     border-radius:3px;
  }
  #product_layout_1 .product_images .product_image_small{
    width:100%;
    margin-top:15px;
  }
  #product_layout_1 .product_images .product_image_small .product_image_2{
    width:30%;
    border:1px solid lightgray;
    float:left;
    margin-right:4%;
    box-sizing:border-box;
  }
  #product_layout_1 .product_images .product_image_small .product_image_3{
    width:30%;
    border:1px solid lightgray;
    float:left;
    margin-right:4%;
    box-sizing:border-box;
  }
  #product_layout_1 .product_images .product_image_small .product_image_4{
    width:30%;
    border:1px solid lightgray;
    float:left;
  }
  #product_layout_1 .product_info h1{
    font-size:3.6em;
    line-height:.8;
  }
  #product_layout_1 .product_info .price{
    margin-top:-40px;
  }
  #product_layout_1 .product_info .original_price{
    color:lightgray;
    font-size:2.8em;
    text-decoration:line-through;
    width:20%;
    display:inline-block;
  }
  #product_layout_1 .product_info .sale_price{
    color:#b30000;
    font-size:3.2em;
    display:inline-block;
    width:30%;
  }
  #product_layout_1 .product_info .rating{
    margin-top:-20px;
    color:goldenrod;
  }
  #product_layout_1 .product_info .product_description{
   font-size:2em;
  }
  #product_layout_1 .product_info .related_info{
    color:#a6a6a6;
  }
  #product_layout_1 .product_info .related_info span{
    margin-right:5%;
  }
  #product_layout_1 .product_info .options{
    margin-top:30px;
  }
  #product_layout_1 .product_info .buying_options{
    width:45%;
    float:left;
  }
  #product_layout_1 .product_info .buying{
    width:45%;
    float:left;
    margin-left:10%;
  }
  #product_layout_1 .product_info .buying_options .select{
    width: 100%;
    max-width:300px;
    height: 40px;
    overflow: hidden;
    background: url('https://i.imgur.com/10e9Roz.png') no-repeat right #FFF;
    border: 1px solid #ccc;
    border-radius:3px;
    margin-top:15px;  
  }
  #product_layout_1 .product_info .buying_options select{
    background: transparent;
    display:block;
    width: 268px;
    padding: 5px;
    font-size: 2em;
    line-height: 1;
    border: 0;
    border-radius:0;
    height: 40px;
    -webkit-appearance: none;
  }
  #product_layout_1 .product_info .buying .quantity{
    font-size:2em;
    margin-top:15px;
    width:100%;
    display:block;
  }
  #product_layout_1 .product_info .buying .quantity [type="text"]{
    width:70px;
    height:40px;
    border:1px solid #ccc;
    border-radius:3px;
    padding:10px;
    box-sizing:border-box;
    font-size:1em;
  }
  #product_layout_1 .product_info .buying .cart{
    margin-top:25px;
    width:100%;
    float:left;
    margin-bottom:20px;
  }
  #product_layout_1 .product_info .buying .cart a.add{
    font-size:2em;
    color:#FFF;
    background:#00a900;
    text-decoration:none;
    padding:10px 20px;
    height:40px;
    border-radius:3px;
    margin-left:10px;
  }
  #product_layout_1 .product_info .social{
    font-size:1.4em;
    line-height:1.2;
    margin-bottom:15px;
    width:60%;
    display:block;
    margin:15px 0px;
  }
  #product_layout_1 .product_info .social .share{
    margin-top:-5px;
    margin-bottom:15px;
  }
  #product_layout_1 .product_info .buttons{
    margin-top:20px;
    margin-left:10px;
    display:inline-block;
    width:30%;
  }
  #product_layout_1 .reviews{
    width:30%;
    float:left;
    border:2px solid #aaa;
    border-radius:3px;
    margin-bottom:30px;
    box-sizing:border-box;
    max-width:320px;
  }
  #product_layout_1 .reviews h2{
   font-weight:500;
   font-size:2.4em;
  }
  #product_layout_1 .reviews .head{
    background:#ccc;
    text-align:center;
    padding:5px;  
  }
  #product_layout_1 .reviews .content{
    background:#FFF;
    padding-top:15px;
    padding-left:2em;
    padding-right:2em;
    padding-bottom:15px;
  }
  #product_layout_1 .reviews .content .name{
    font-size:1.8em;
  }
  #product_layout_1 .reviews .content .stars{
    color:goldenrod;
    margin-left:15px;
  }
  #product_layout_1 .reviews .content .review_text{
    margin-top:10px;
    font-size:1.2em;
  }
  #product_layout_1 .reviews .content .fullReview a{
   display:block;
   font-size:1.2em;
   text-align:center;
   color:#006bff;
   text-decoration:none;
  }
  #product_layout_1 .reviews .content .writeReview a{
   display:block;
   font-size:1.4em;
   text-align:center;
   color:#006bff;
   text-decoration:none;
  }
  #product_layout_1 .related{
    width:66%;
    float:left;
    display:block;
    margin-left:4%;
    border:2px solid #aaa;
    border-radius:3px;
    box-sizing:border-box;
  }
  #product_layout_1 .related .head{
    background:#ccc;
    padding:.3em;
  }
  #product_layout_1 .related .head h2{
   text-align:center;
   font-weight:500;
   font-size:2.4em;
  }
  #product_layout_1 .related .content{
    background:#FFF;
  }
  #product_layout_1 .related .relatedProducts{
    columns:3;
  }
  #product_layout_1 .related .products{
    text-align:center;
    width:25%;
    float:left;
    margin-left:6.25%;
    box-sizing:border-box;
  }
  #product_layout_1 .related .products .title{
    font-size:1.4em;
    line-height:1;
    min-height:24px;
  }
  #product_layout_1 .related .products .image img{
    border:2px solid #ccc;
    margin-top:-5px;
    cursor:pointer;
  }
  #product_layout_1 .related .products .price{
    color:#b30000;
    font-size:2.0em;
    margin-top:-2px;
  }
  @media (max-width:500px){
    #product_layout_1 .product_images,#product_layout_1 .product_info,#product_layout_1 .reviews,#product_layout_1 .related,#product_layout_1 .product_info .buying,#product_layout_1 .product_info .buying_options, #product_layout_1 .product_info .social{width:100%; margin-left:0;margin-right:0} 
  }
  .product--size {
    margin: 20px 0;
  }
  .product--size span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    border-radius: 4px 4px;
    text-align: center;
    padding: 1px 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .product--size span.active {
    color: #fff;
    background: #008080;
  }