
.price{
	padding-top: 5px;
	padding-left: 7px;
}

.product-text{
	font-family:verdana;
	font-size: 20px;
}
.add-item{
	text-align: center;		
}

.card-title{
	text-align: center;

}

.card-image:nth-child(even){
	border: none;
	border-width: none;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.card-image:nth-child(odd){
	border: none;
	border-width: none;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


