

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trial</title>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assests/test.css">
  <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
  </head>

<body>
<%- include("nav") %>

</body>

</html>