<!doctype html>
<html lang="en">
  <head>
    <title>MedEasy</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assests/shop.css">

  </head>

  <body>

    <div class="container-fluid">
        <div class="row">
            <% for(var i in items){ %>
            <% console.log(items[i]); %>
            <div class="col m2">
              
                    <div class="card">
                      <div class="card-image activator">
                          <div class="price">
                            
                          <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4"><%= items[i]["name"] %></a>
                        </div>
                          <img  src="https://2.imimg.com/data2/GX/KQ/IMVENDOR-3111145/assets-images-en-us-products-primaryproductimg-img_p_nf_cough_a-250x250.png" style="max-width: 100%;">
                      
                      
                            <div class="add-item">
                                  <a class=" btn-floating waves-effect waves-light cyan" ><i class="material-icons">add_shopping_cart</i></a>

                                  <a class=" activator  btn-floating waves-effect waves-light deep-orange"><i class="material-icons">info_outline</i></a>

                                  <a href="../PHP/product.php" class="btn-floating waves-effect waves-light deep-blue"><i class="material-icons">visibility</i></a>
                            </div>
                     
                      
                          <div class="card-content">
                            <p align="center" class="product-text white-text"><b><%= items[i]["cost"] %></b></p>
                          </div>
                      
                      </div>
                      <div class="card-reveal waves-effect waves-light deep-orange">
                      <span class="card-title white-text text-darken-4"><%= items[i]["name"] %><i class="material-icons right">close</i></span>
                      <p style="font-size: 20px;" class="white-text text-darken-4">Crocin is a tablet.<br>Preferred for Headache,pain relief.</p>
                    </div>
                    </div>

                         
            </div>
            <% } %>

                                   
        </div>
    </div>
  </body>


</html>